{% extends 'Shantinath_home/basic.html'%}
{% block title %}Abhishek{% endblock title %}
{% block css %} 
.form-container{
   max-width: 500px;
	width: 100%;
	background-color: white;
	margin: 20px auto;
	padding: 30px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.125); 

}
.form-container .title{
    font-size: 25px;
	font-weight: 600;
	color: rgb(222, 141, 0);
	margin-bottom: 25px;
	text-orientation: uppercase;
	text-align: center;
}
 {% endblock css %}
{% block body %}

<div class="container form-container">
<div class="title">Please Enter following Details</div>
<form class="row g-3" method="POST" action="#">
  {% csrf_token %}
  <div class="col-md-6">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>
  
  <div class="col-md-6">
    <label for="familyname" class="form-label">Family Name</label>
    <input type="text" class="form-control" id="familyname" name="familyname" required>
  </div>
  
  <div class="col-12">
    <label for="address" class="form-label">Address</label>
    <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St" required>
  </div>
  <div class="col-md-6">
    <label for="contact" class="form-label">Contact Number</label>
    <input type="number" class="form-control" id="contact" name="contact" required> 
  </div>
  
  <div class="col-md-6">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" required>
  </div>
  
  <div class="col-md-6">
    <label for="city" class="form-label">City</label>
    <input type="text" class="form-control" id="city" name="city" required>
  </div>
  <div class="col-md-6">
    <label for="state" class="form-label">State</label>
    <select id="state" name="state" class="form-select" required>
      <option selected>Choose...</option>    
        <option value="Andhra Pradesh" >Andhra Pradesh</option>
        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
        <option value="Assam">Assam</option>
        <option value="Bihar">Bihar</option>
        <option value="Chandigarh">Chandigarh</option>
        <option value="Chhattisgarh">Chhattisgarh</option>
        <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
        <option value="Daman and Diu">Daman and Diu</option>
        <option value="Delhi">Delhi</option>
        <option value="Lakshadweep">Lakshadweep</option>
        <option value="Puducherry">Puducherry</option>
        <option value="Goa">Goa</option>
        <option value="Gujarat">Gujarat</option>
        <option value="Haryana">Haryana</option>
        <option value="Himachal Pradesh">Himachal Pradesh</option>
        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
        <option value="Jharkhand">Jharkhand</option>
        <option value="Karnataka">Karnataka</option>
        <option value="Kerala">Kerala</option>
        <option value="Madhya Pradesh">Madhya Pradesh</option>
        <option value="Maharashtra">Maharashtra</option>
        <option value="Manipur">Manipur</option>
        <option value="Meghalaya">Meghalaya</option>
        <option value="Mizoram">Mizoram</option>
        <option value="Nagaland">Nagaland</option>
        <option value="Odisha">Odisha</option>
        <option value="Punjab">Punjab</option>
        <option value="Rajasthan">Rajasthan</option>
        <option value="Sikkim">Sikkim</option>
        <option value="Tamil Nadu">Tamil Nadu</option>
        <option value="Telangana">Telangana</option>
        <option value="Tripura">Tripura</option>
        <option value="Uttar Pradesh">Uttar Pradesh</option>
        <option value="Uttarakhand">Uttarakhand</option>
        <option value="West Bengal">West Bengal</option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="pincode" class="form-label">PIN Code</label>
    <input type="text" class="form-control" id="pincode" name = "pincode">
  </div>
  
  <div class="col-md-6">
    <label for="eventdate" class="form-label">Date of Event</label>
    <input type="date" class="form-control" id="eventdate" name = "eventdate">
  </div>
  <div class="col-12 text-center">
    <button type="submit" class="btn btn-primary"> Book my Day </button>
  </div>
  
</form>
</div>

{% endblock body%}
{% load static %}

